icontroller-import.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:import-helper="http://schema.icontroller.eu/import-helper" xmlns:language="http://schema.icontroller.eu/iso639" xmlns:currency="http://schema.icontroller.eu/iso4217" xmlns:country="http://www.codesynthesis.com/xmlns/xsstl" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schema.icontroller.eu/icontroller-import" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import schemaLocation="http://schema.icontroller.eu/iso3166-country.xsd" namespace="http://www.codesynthesis.com/xmlns/xsstl" />
    <xs:import schemaLocation="http://schema.icontroller.eu/iso639-language.xsd" namespace="http://schema.icontroller.eu/iso639" />
    <xs:import schemaLocation="http://schema.icontroller.eu/iso4217-currency.xsd" namespace="http://schema.icontroller.eu/iso4217" />
    <xs:import schemaLocation="http://schema.icontroller.eu/import-helper.xsd" namespace="http://schema.icontroller.eu/import-helper" />
    <xs:element name="icontroller">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="debtors">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="debtor" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="reference" minOccurs="1" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1" />
                                                    <xs:whiteSpace value="replace" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="name" minOccurs="1" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="vat" type="xs:string" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="address_line1" minOccurs="1" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="address_zip" minOccurs="1" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="3" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="address_city" minOccurs="1" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="address_country" type="country:ISO3166CountyCode" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="tel" type="xs:string" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="fax" type="xs:string" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="language" type="language:ISOLanguageCodeType" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="code" type="xs:string" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="procedure" type="xs:string" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="representative" type="xs:string" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="agent" type="xs:string" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="credit_score" type="xs:positiveInteger" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="credit_insurance" type="xs:boolean" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="credit_limit" type="xs:decimal" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="internal_limit" type="xs:decimal" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="birthdate" type="xs:byte" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="birthplace" type="xs:string" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="national_number" type="xs:positiveInteger" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="portfolios" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="portfolio" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
										<xs:element name="contacts" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="contact">
                                                        <xs:complexType>
                                                            <xs:all>
                                                                <xs:element name="reference" type="xs:string" minOccurs="1" maxOccurs="1" />
                                                                <xs:element name="tel" type="xs:string" minOccurs="0" maxOccurs="1" />
                                                                <xs:element name="fax" type="xs:string" minOccurs="0" maxOccurs="1" />
                                                                <xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1" />
                                                                <xs:element name="language" type="language:ISOLanguageCodeType" minOccurs="1" maxOccurs="1" />
                                                                <xs:element name="code" type="xs:string" minOccurs="0" maxOccurs="1" />
                                                                <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1" />
                                                            </xs:all>
                                                            <xs:attribute name="reference" type="xs:string" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
										<xs:element name="fields" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="string">
                                                        <xs:complexType>
															<xs:simpleContent>
																<xs:extention base="xs:string">
																	<xs:attribute name="reference" type="xs:string" use="required" />
																</xs:extention>
															</xs:simpleContent>
                                                         </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="date">
                                                        <xs:complexType>
															<xs:simpleContent>
																<xs:extention base="xs:date">
																	<xs:attribute name="reference" type="xs:string" use="required" />
																</xs:extention>
															</xs:simpleContent>
                                                         </xs:complexType>
                                                    </xs:element>
													<xs:element name="number">
                                                        <xs:complexType>
															<xs:simpleContent>
																<xs:extention base="xs:decimal">
																	<xs:attribute name="reference" type="xs:string" use="required" />
																</xs:extention>
															</xs:simpleContent>
                                                         </xs:complexType>
                                                    </xs:element>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="dispute_manager" type="xs:string" minOccurs="0" maxOccurs="1" />
                                    </xs:all>
                                    <xs:attribute name="reference" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:whiteSpace value="replace" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="documents">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="document" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="debtor_reference" type="xs:string" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="reference" type="xs:string" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="journal" type="xs:string" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="denomination" type="xs:decimal" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="original_denomination" type="xs:decimal" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="date" type="xs:date" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="due_date" type="xs:date" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="currency" type="currency:ISOCurrencyCodeType" minOccurs="1" maxOccurs="1" />
										<xs:element name="comment" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="extra_comment" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="project" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="payment_method" type="xs:string" minOccurs="0" maxOccurs="1" />
                                    </xs:all>
                                    <xs:attribute name="debtor_reference" type="xs:string" use="required" />
                                    <xs:attribute name="reference" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="representatives" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="representative">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="reference" type="xs:string" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="email" type="import-helper:emailAddress" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="tel" type="xs:string" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="fax" type="xs:string" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="language" type="language:ISOLanguageCodeType" minOccurs="1" maxOccurs="1" />
                                    </xs:all>
                                    <xs:attribute name="reference" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="dispute_managers" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="dispute_manager">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="reference" type="xs:string" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="email" type="import-helper:emailAddress" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="tel" type="xs:string" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="fax" type="xs:string" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="language" type="language:ISOLanguageCodeType" minOccurs="1" maxOccurs="1" />
                                    </xs:all>
                                    <xs:attribute name="reference" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
